.botao {
    padding: 12px 24px;
    margin: 8px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

/* O nome aqui tem que ser IGUAL ao que você escreveu no acao="Nome" */
.Cadastrar { background-color: #12d6f0; color: black; }
.Editar    { background-color: #d02ae6; }
.Listar    { background-color: #20d62f; }
.Excluir   { background-color: #e62a2a; }
.Cancelar  { background-color: #e6e32a; color: black; }