.botao {
    padding: 1rem 2rem;
    cursor: pointer;
    margin: 0.5rem;
}

.Cadastrar {
    background-color: rgb(18, 214, 240);
}

.Editar {
    background-color: rgb(208, 42, 230);
}

.Listar {
    background-color: rgb(32, 214, 47);
}

.Excluir {
    background-color: rgb(230, 42, 42);
}

.Cancelar {
    background-color: rgb(230, 227, 42);
}
