
body {
  margin: 10px;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 28px; 
  font-weight: bold;
  line-height: 1.1;
  margin: 15px 0;
}

h2 {
  font-size: 23px; 
  font-weight: bold;
  line-height: 1.1;
  margin: 8px 0;
}

h3 {
  font-size: 19px; 
  font-weight: bold;
  line-height: 1.1;
} 

label {
  font-size: 18px;   
}

p {
  font-size: 16px;   
}

small {
  font-size: 13px;   
}

